# Code quality
# ------------------------------------------------------------------------------
flake8==3.9.2  # https://github.com/PyCQA/flake8
flake8-isort==4.0.0  # https://github.com/gforcada/flake8-isort
flake8-docstrings==1.6.0  # https://github.com/PyCQA/flake8-docstrings
flake8-quotes==3.3.0  # https://github.com/zheller/flake8-quotes
autopep8==1.5.7  # https://github.com/hhatto/autopep8
